.jumbotron {
	background-image: url('/img/hospitalarazul.jpg');
	background-size: cover;
	background-position: center;
}
.navbar-light .navbar-nav .nav-link{
	color:#007bff;
}
.mestre{
	width: 36px;
	height: 36px;

}
.icones a{/*usando a classe .icones+ a tag <a>*/
	display: block;
	width: 36px;
	height: 36px;
}
.icones li{/*usando a classe .icones+ a tag <li>*/
	display: inline-block;
	margin-left: 0.2rem;
}

.icones a[href= 'https://github.com/']{
	background-image: url('/img/github.png');
	background-size: 36px 36px;
}

.icones a[href='https://www.google.com/']{
	background-image: url('/img/plus.png');
	background-size: 36px 36px; 

}

.icones a[href='https://br.linkedin.com/']{
	background-image: url('/img/Linkedin.png');
	background-size: 36px 36px; 

}
.icones a[href='https://www.facebook.com/']{
	background-image: url('/img/Facebook-logo.png');
	background-size: 36px 36px; 

}
.copy{
	color: #FFFFFF;
}

.Avaliado{
	color: #fff;
}

.card-header{
	background-image: url('/img/hospaz.jpg ');
	background-size: cover;
	background-position: center;
}





/*
.nav-link{
	padding-top: 5rem; /*pt(0 ate 5)tamanhos dos rem
	padding-left: ; /*pl(0 ate 5)tamanhos dos rem
	padding-right: ; /*pr(0 ate 5)tamanhos dos rem
	padding-bottom: 5rem; /*pb(0 ate 5)tamanhos dos rem
	background: #942D39; 
	border: solid 1px; 
	margin-left: 1rem; /*ml(0 ate 5)tamanhos dos rem
	margin-right: 2rem;/*mr(0 ate 5)tamanhos dos rem
	margin-top: 2rem; /*mt(0 ate 5)tamanhos dos rem
	margin-bottom: 3rem; /*mb(0 ate 5)tamanhos dos rem

}
*/