{%extends "hospitais/base.html"%}
{% load crispy_forms_tags %}
{{hosp}}
{% block content %}
{% if user.is_authenticated %}
<div class="container col-lg-6"> 
	<div class="row d-flex">
		<div class="col-lg-6">
			<figure>
				<img src="{{hosp.foto_url}}" class="img-fluid img-thumbnail" alt="">
				<figcaption>
					<h5>{{ hosp.nome_hospital }}</h5>
				</figcaption>

			</figure>
			
		</div>
		<div class="col-lg-6 mt-5 mb-5">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}   
				{{ form | crispy}}
				<input type="submit" value= "Editar" class="input-group btn btn-success mb-5 ">
			</form>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}