{% extends 'hospitais/base.html'%}

{% block content%}
<div class="container col-lg-5">
	<div class="row ">
		<a href="{% url 'criar_usuario' %}" class="btn btn-dark col-lg-4 pt-5 pb-5 mb-2 mr-1"> Criar Usuário</a>
		<a href="{% url 'criar_hospital' %}" class="btn btn-dark col-lg-4 pt-5 pb-5 mb-2 "> Criar Hospitais </a>
		
		<a href="{% url 'hospitais' %}" class="btn btn-dark col-lg-4 pt-5 pb-5 mb-2 mr-1"> Ver Hospitais</a>
		<a href="{% url 'hospitais' %}" class="btn btn-dark col-lg-4 pt-5 pb-5 mb-2 "> Editar Hospitais </a>
	</div>
	
</div>



{% endblock content%}